p {
    font-size: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 20px;
}
br {
    line-height: 20px;
}
.user {
    height: 150px;
    width: 242px;
    background-color: #d8d8d8;
    border: 1px solid grey;
    margin-right: 20px;
    margin-top: 76px;
    padding: 0 10px 15px 16px;
}
.wrapper {
    margin-left: 150px;
    margin-right:150px;
}
.comment {
    width: 620px;
    border: 1px solid grey;
    background-color: #d8d8d8;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 17px;
    padding-right: 66px;
}
.text {
    display: flex;
}
.postText {
    width: 620px;
    margin-left: 16px;
}
.userPosts {
    margin-top: 50px;
}
.userName {
    margin-bottom: 40px;
}
.allUsers {
    margin-top: 170px;
}
.titleComments {
    margin-bottom: 40px;
}